extends layout

block content
  h1= 'This is game #' + id

  h2 Other players:
  ul
    - players = players || ['No other players']
    each player in players
      li= player


  script(type='text/javascript')= 'join(' + id + ')'
