extends layout

block head
  link(rel='stylesheet' href='/css/game.css')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript' src='/js/wormhole.js')
  script(type='text/javascript' src='/js/sockman.js')

block content
  h1= 'This is game #' + id

  h2 Other players:
  ul#playerlist
    - players = players || ['No other players']
    each player in players
      li(id=player)
        = player

  script(type='text/javascript')= 'Sockman.ready(' + id + ')'
  button#join(type='button' onclick='Sockman.join(' + id + ')') Join game

  canvas#wormhole
