extends layout

block head
  link(rel='stylesheet' href='/css/game.css')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript' src='/js/wormhole.js')
  script(type='text/javascript' src='/js/sockman.js')

block content
  h1= 'Welcome to game #' + id

  h2 Who's playing:
  if players.length > 0
    ul#playerlist
      each player in players
        li(id=player)
          = player
  else
    p No one's here yet.  Jump in!

  if (players.length >= 5)
    p This game is full.
  else
    script(type='text/javascript')= 'Sockman.ready(' + id + ')'
    button.btn.btn-success#join(type='button' onclick='Sockman.join(' + id + ')') Join game!

    canvas#wormhole
