extends layout

block content
  h1 Wormhole
  h2 Current Games

  if games.length > 0
    ul
      each gameid in games
        li
          a(href='/games/' + gameid)= 'Game ' + gameid
  else
    p No games

  form(method='post', action='/games')
    button.btn.btn-primary(type='submit') Create new game

