extends layout

block content
  .container
    .row
      .span12
        h1 Wormhole
    .row
      .span6
        h2 Background
        p The year is 5013.  You are the pilot of a guard ship, designed to
          | protect the space station Zurb against unwary space pirates.
          | Scientists at Zurb were researching a way to create wormholes to
          | other dimensions, when an accident ocurred:  the space station
          | exploded, and created wormholes to nearly-identical alternate
          | realities, where alternate versions of yourself exist.

        p The trouble is, the existence of the wormholes is pulling apart the
          | fabric of spacetime. They are being kept open with quantum bonds
          | between your ship and the ships in the alternate dimensions. The
          | only way to close the wormholes is to destroy the other ships. But
          | they know that too...

        p The ships cannot travel through the wormholes; they are too massive.
          | But your ammunition is merely energy, so you can fire bullets into
          | the other dimensions in the hope that your alternate selves will 
          | run into them.
      .span6
        h2 Controls
        p Turn your ship with left/right arrow keys. Move forward by thrusting
          | with the up arrow key. As you thrust, you use up your fuel, but you
          | regenerate more when you are not accelerating. Press space to fire.
          | If you would like to sacrifice yourself for the better of the
          | universe, press q.

        h2 tl;dr
        p Click "play" to start a game.  Once enough players have joined, the
          | game will start. Shoot into your opponents' wormholes to kill them.

    .row
      .span12
        p.center
          .playButtons.center
            button.btn.btn-primary.btn-large(type="button", id="btnPlay2") 2 Players
            button.btn.btn-primary.btn-large(type="button", id="btnPlay3") 3 Players

  canvas#wormhole