doctype 5
html
  head
    title Wormhole
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/lib/jquery.min.js')
    script(type="text/javascript", src="/javascripts/lib/jquery.hotkeys.js")
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/lib/mustache.js')
    script(type='text/javascript', src='/javascripts/content.js')
    script(type='text/javascript', src='/javascripts/socket.js')
    script(type='text/javascript', src='/javascripts/game.js')

  body
    block content