body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

canvas#wormhole
    display: none
    position: absolute
    width: 100%
    height: 100%
    top: 0px;
    left: 0px;
    cursor: none;

.center
    text-align: center

button
  margin: 10px